.wrap {
  display: flex;
}
.content {
  flex: 1;
}
.extraContent {
  min-width: 240px;
  text-align: right;
}
.content.padding {
  padding-left: 40px;
}
.content .description {
  display: table;
}
.description .term {
  display: table-cell;
  margin-right: 8px;
  padding-bottom: 8px;
  white-space: nowrap;
  line-height: 20px;
}
.description .term:after {
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
  content: ":";
}
.description .detail {
  display: table-cell;
  padding-bottom: 8px;
  width: 100%;
  line-height: 20px;
}

.mypagination {
  padding-bottom: 24px;
}

.cern-header-container {
  height: 5vh;
  width: 100%;

  color: #999;
  background-color: #222;
  padding: 1vh;
  padding-left: 3vh;
}

.cern-header-container h1 {
  font-size: 14px;
  padding: 6px;
}

.cern-header-container a {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.cern-header-container a:hover {
  color: white;
  background-color: black;
  border: 0;
}

.cern-header-container span {
  color: #999999;
}

.fill-list-row {
  cursor: pointer;
}

.graph-container {
  margin-top: 15px;
  padding: 5px;
}

.graph-col {
  padding: 10px;
  margin: 10px;
}

.graph-col .detail h1 {
  text-align: center;
}

.loading {
  align-content: space-around;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.loading-img {
  width: 150px;
  height: 150px;
}

.fill-list-container {
  padding: 1vh;
}

.fill-list-header-container {
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.fill-list-header-title {
  padding: 1vh;
}

.fill-list-header-help-container {
  padding: 1vh;
}
